.fc {
    background-color: #ffffff;
    margin-left: 2px;
    margin-right: 2px;
}

.fc-event {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 0.7rem;
    padding: 0 6px;
    height: 20px;
    line-height: 1;
    border: none !important;
    border-radius: 99px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 2px;
}

/* 이벤트 표시 관련 css */
.fc-daygrid-event {
    border-radius: 50px !important; 
    font-weight: 500;
    width: 100%;
    box-sizing: border-box;
}
  
/* 오늘 날짜 배경 */
.fc-day-today {
    background-color: #ffd6c5 !important;
}

/* 헤더 전체 배경 */
.fc .fc-toolbar {
    background-color: #ffffff;
    padding: 6px 12px;
    border-radius: 8px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
/* 타이틀 텍스트 */
.fc .fc-toolbar-title {
    font-size: 1rem;
    font-weight: normal;
    color:  #111827;
}
  
/* today, prev, next 버튼 공통 */
.fc .fc-button {
    background-color: #aacbff;
    border: none;
    color: white;
    font-size: 0.85rem;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 0 4px;
}

/* today 버튼 */
.fc .fc-today-button {
    font-size: 0.75rem;
    padding: 4px 10px;
    height: 30px;
    line-height: 1;
}
  
  
.fc .fc-button:disabled {
    background-color: #ccc;
    color: #ffffff;
}

.fc .fc-button:active,
.fc .fc-button.fc-button-active {
    background-color: #4b9ce2 !important;
    box-shadow: none !important;
    transform: none !important;
}

.fc-event-main,
.fc-event-title {
    color: inherit !important;
}

/* 캘린더 일별 칸 높이 고정 이벤트 3개 기준으로 */
.fc-daygrid-day-frame {
    min-height: 100px !important;
    max-height: 100px !important;
    display: flex;
    flex-direction: column;
}
  
/* "+n 더보기" 버튼 */
.fc-more-link {
    font-size: 0.65rem;
    color: #9e9e9e;
    text-align: right;
}

/* 요일 css */
.fc .fc-col-header-cell {
    font-size: 0.75rem;
    font-weight: normal;
    text-align: left;
    padding-left: 3px;
}

/* 날짜 css*/
.fc .fc-daygrid-day-number {
    font-size: 0.75rem;
    text-align: left;
    padding-left: 4px;
    font-weight: normal;
}

/* 요일 헤더: 일요일 */
.fc .fc-col-header-cell:nth-child(1) {
    color: #ef4444;
}
  
/* 요일 헤더: 토요일 */
.fc .fc-col-header-cell:nth-child(7) {
    color: #3b82f6;
}

/* 일요일: 달력 열의 첫 번째 */
.fc .fc-daygrid-day:nth-child(7n+1) .fc-daygrid-day-number {
    color: #ef4444; /* 빨간색 (Tailwind red-500) */
}
  
/* 토요일: 달력 열의 마지막 */
.fc .fc-daygrid-day:nth-child(7n) .fc-daygrid-day-number {
    color: #3b82f6; /* 파란색 (Tailwind blue-500) */
}
